<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <TEMS.Equipment.QualityMeasurement.Settings.AqmLanguageSettings>
            <setting name="LanguageIdentity" serializeAs="String">
                <value>AD48BB3F-72FE-4F38-94BC-54C1CC42BED4</value>
            </setting>
            <setting name="IgnoreLanguageShortId" serializeAs="String">
                <value>True</value>
            </setting>
        </TEMS.Equipment.QualityMeasurement.Settings.AqmLanguageSettings>
    </userSettings>
</configuration>